@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bellefair";
    font-weight: 400;
}

body {
    background-color: #0D0D0D;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

#list-head {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4dvw;
}

#list-head il {
    margin: 10px;
    color: #fff;
    font-size: 2.5dvh;
}


#h-logo {
    max-width: 100px;
}

.hero {
    width: 100%;
    height: auto;
}

#elements-hero {
    margin: 15px 0px 0px 0px;
    padding: 39px 0 0 0;
    position: relative;
    width: 100%;
    height: 85dvh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
}

.circul {
    width: 1053px;
    height: 1030px;
    border-radius: 50%;
    border: 13px solid #fff;
    box-shadow: 0px 0px 43px 3px #fff;
}

#rap-hero {
    max-width: 90dvh;
    position: absolute;
}

/* #rap-hero::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
} */

.h-title {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    background: rgb(2 2 2 / 22%);
    flex-direction: column;
    align-items: center;
    padding: 27px;
    overflow: hidden;
}

#h1-hero {
    color: #ffffff;
    font-size: 4dvw;
    text-align: center;
    text-transform: uppercase;
}

.section-2 {
    margin-top: 40px;
    width: 100%;
    height: 50dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 21px;
}

.lift-said {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-said {
    width: auto;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
}
.right-said img {
    width: 26vw;
}

.lift-said h1{
    font-size: 4dvw;
    color: #ffffff;
}
.lift-said p{
    font-size: 1dvw;
    color: #ffffff;
}
