@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bellefair";
}

body {
    background-color: #0D0D0D;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

#list-head {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4dvw;
}

#list-head il {
    margin: 10px;
    color: #fff;
    font-size: 2.5dvh;
}


#h-logo {
    max-width: 100px;
}

.hero {
    width: 100%;
    height: auto;
}

#elements-hero {
    margin: 15px 0px 0px 0px;
    padding: 39px 0 0 0;
    position: relative;
    width: 100%;
    height: 75dvh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
}

.circul {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    border: 9px solid #fff;
    box-shadow: 0px 0px 18px 3px #fff;
}

#rap-hero {
    max-width: 80dvh;
    position: absolute;
}

/* #rap-hero::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
} */

.h-title {
    display: flex;
    background: rgb(37 37 37 / 25%);
    flex-direction: column;
    align-items: center;
    padding: 27px;
}

#h1-hero {
    color: #ffffff;
    font-size: 7dvw;
    text-align: center;
    text-transform: uppercase;
}