<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie-Tracker</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <header>
      <ul id="list-head">
        <il><span>Home</span></il>
        <il><img src="/assets/logo.webp" alt="Logo" id="h-logo"></il>
        <il><span>Artist</span></il>
      </ul>
    </header>
    <div class="hero">
      <div id="elements-hero">
        <img src="/assets/rap-01.png" alt="" id="rap-hero">
        <div class="circul">
        </div>
      </div>
      <div class="h-title">
        <h1 id="h1-hero">We preserve History<br>oF MUSIc</h1>
      </div>
    </div>

    <div class="section-2">
      <div class="lift-said">
        <h1>The World’s Leading Statue MUSIC</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque et, condimentum iaculis ac. Enim leo sit vestibulum vulputate placerat vulputate. Quis egestas pellentesque faucibus scelerisque consectetur amet. Imperdiet in posuere tempus enim sit semper turpis faucibus lectus. Eget et tempor dolor, amet,
        </p>
      </div>
      <div class="right-said">
          <img src="/assets/2-pac.png" alt="2-pac">
      </div>
    </div>
</body>
</html>