<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie-Tracker</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <div class="header">
    <header>
      <img src="/assets/logo.webp" alt="logo" id="header-logo">
      <ul id="header-list">
        <li>Home</li>
        <li>Artists</li>
        <li>About</li>
      </ul>
    </header>
    <div class="hero">
      <img src="/assets/lilwayen.png" alt="" srcset="" id="img-hero">
      <div class="tyext-cader">
        <h1>Discover bands. Explore concerts. Follow the music.</h1>
        <p>Explore detailed information about artists and bands from around the world.
          Track their history, members, albums, and discover where and when they perform live.</p>
      </div>
    </div>
  </div>
  <div class="list-artist">
    <h2>Recently Edited Artists</h2>
    <div class="artist-cards">
      <!-- style of list artist -->
      <!-- <div class="artist">
        <img src="/assets/rap-01.png" alt="" srcset="" id="art-img">
        <h4>Name</h4>
        <p>creationDate</p>
      </div> -->
      {{ range .}}
      <div class="artist">
        <img src="{{.Image}}" alt="" srcset="" id="art-img">
        <div class="art-bar">
          <div class="art-text">
            <h4>{{.Name}}</h4>
            <p>{{.Data}}</p>
          </div>
          <div class="showmore">
            <a href="./artist/{{.ID}}"> <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </g>
              </svg>
            </a>
          </div>
        </div>

      </div>
      {{ end }}
    </div>
</body>

</html>