<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie-Tracker</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <header>
      <ul id="list-head">
        <il><span>Home</span></il>
        <il><img src="/assets/logo.webp" alt="Logo" id="h-logo"></il>
        <il><span>Artist</span></il>
      </ul>
    </header>
    <div class="hero">
      <div id="elements-hero">
        <img src="/assets/rap-01.png" alt="" id="rap-hero">
        <div class="circul">
        </div>
      </div>
      <div class="h-title">
        <h1 id="h1-hero">We preserve History<br>oF MUSIc</h1>
      </div>
    </div>
</body>
</html>