* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Bellefair";
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  background-color: #0d0d0d;
  overflow-x: hidden;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}
h1 {
  color: white;
  font-size: 80px;
}
h6 {
  color: white;
  font-size: 40px;
}
