* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "BBH Bartle";
}

.container {
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.hero {
  position: relative;
  height: 200px;
}
.hero p {
  font-size: 18px;
}

.hero .frHead {
  padding: 8px 5px;
}

.hero .scHead {
  position: absolute;
  left: 10%;
  top: 35%;
  font-weight: 400;
}
.cardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 11fr);
  gap: 10px;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #222222;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background: #000;
  transition: 0.5s ease;
  overflow: hidden;
}
.card h3 {
  color: #fcfcfc;
  margin-bottom: 5px;
}
.card .info p {
  color: #fcfcfc;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card:hover.card .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0.8;
}
